<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue_id %>
</p>

<p>
  <strong>Dj:</strong>
  <%= @event.dj_id %>
</p>

<p>
  <strong>Promoter:</strong>
  <%= @event.promoter_id %>
</p>

<p>
  <strong>Photo,:</strong>
  <%= @event.photo, %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
