<div id="admin">
  <p>
  <strong>Venue:</strong>
  <%= @event.venue.name if @event.venue %>
</p>

<p>
  <strong>Dj:</strong>
  <%= @event.dj.name if @event.dj %>
</p>

<p>
  <strong>Promoter:</strong>
  <%= @event.promoter.name if @event.promoter %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image = image_tag (@event.photo.url(:medium))%>

</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
</div>