<% @dj.events.each do |event| %>
  <% event.comments.select {|c| c.is_valid? && c.valid? && c.rating.valid? && c.rating.score != 0}.each do |comment| %>
    <div class="row review">
    <div class="col-md-2">
      <div class= "user-image">
      <%= link_to(image_tag(comment.user.image_url), user_path(comment.user))%>
      </div>
      <div class="col-md-1">
       <h7 class='text-center'><%= comment.user.first_name if comment.user.first_name %></h7>
     </div>
    </div>
      <div class= "comment col-md-9">
        <div class="user-rating">
          <strong>Rating: <%= comment.rating.score.to_i %>/5
          (based on event on <%= comment.event.date.strftime("%A, %B %d, %Y")%> 
            <% if comment.event.venue %>
            at <%= link_to comment.event.venue.name, venue_path(comment.event.venue.slugify) %>)</strong>
            <%elsif comment.event.promoter%>
              thrown by <%= link_to comment.event.promoter.name, promoter_path(comment.event.promoter.slugify) %>)</strong>
            <%end%>
        </div>
        <div class="user-comment" id='<%=comment.id%>'>
          <li><%= truncate(comment.body, length: 500, separator: ".") %></li>
        </div><br>
          <h6>(Updated <%= time_ago_in_words comment.updated_at %> ago.)</h6>
      </div>
    </div>
  <%end%>

<%end%>