<div class="nested-fields">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <%= link_to_remove_association "remove genre", f %>
</div>

<!--   <%= f.label #'Soundcloud Embed' %>
  <%= f.text_area #:demo, rows: 3, class: 'form-control', placeholder: 'Find your soundcloud demo, click on the share link underneath it, go to the tab that says "embed", and copy the text (which starts with "iframe") into this form.'%><br> -->