<div class="row page-header title">
    <h1 class='col-md-5'> Take Off </h1>
</div>
<div class="dj-profile">
      <div class="col-md-4">
        <h2> <%= @dj.name %> </h2>
      </div>

      <br>
   <div class="row">
      <div class= "edit-or-contact col-md-7 pull-right">
 
        <% if current_user == @dj %>
        <button class="edit-dj pull-right btn btn-primary">Edit your profile</button>
        <br>
        <%else%>

       <%= render 'contact_modal' %>
   
        <a href="#" data-toggle="modal" data-target="#basicModal" >
          <div class="hover-mask bottom-mask mask-orange">
            <h2 class='hire-dj btn-centered btn btn-info pull-right'>Contact</h2>
          </div>
        </a>
   <%end%>
        <br>
      </div>
  </div>

<!-- ///////////  PROFILE //////////////////////////////// -->
<div id="dj-profile">
  <div class= 'row'> 
    <div class="profile-pic col-md-3">
      <%= image_tag @dj.image_url, class: 'profile-image' %>
    </div>
    <div class="dj-info col-md-4 col-md-offset-1 vertical-center">

     <div class="sound-cld">
      <h4>Sound Cloud Followers: <%= number_with_delimiter(@dj.sdcl_followers, :delimiter => ',') if @dj.sdcl_followers %></h4>
    </div>
    <div class="other-info">
    <!-- #truncate(@dj.bio.html_safe, length: 40, separator: ".") -->
    <% if !@genres.blank? %>
    <h4> Genres: <%= @genres.map {|g| g.name}.join(", ") %></h4>
    <%end%>
    <% if !@dj.rate_per_hour.blank? %>
    <h4> Hourly Rate: $<%= number_with_delimiter(@dj.rate_per_hour, :delimiter => ',')%>0</h4>
    <%end%>
    <div class='star'>
    DJB Rating: 
    </div>
    <h5> located in <%= @dj.city %> </h5>
    </div>




    </div>
  </div>
    <br>
  <div class="tracks">
    <%= render 'tracks' %><br>
  </div>
</div>

<!-- ////////////// form-begin ///////////////////////-->


<div class="row">
  <div class="update-form col-md-10 col-md-offset-1">
  <%= render 'form' %><br>
<button class="cancel-edit btn-centered btn">Cancel</button> <br>
  </div>
</div>
</div>
<script>
  $('.star').raty({
    readOnly: true,
    score: <%= @dj.average_rating %>,
    path: '/assets'
  });

</script>
