<div class="row page-header title">
    <h1> Take Off </h1>
</div>
<div class="dj-profile">
  
 
    
      <div class="col-md-4">
        <h2> <%= @dj.name %> </h2>
      </div>
   <div class="row">
      <div class= "edit-or-contact col-md-4 pull-right">
        <% if @current_user == @dj %>
        <button class="edit-dj btn-centered btn btn-primary">Edit your profile</button> 
        <%else%>
        <div class="message-form">
          <%= form_for(@dj, url: send_contact_email_path, method: 'post') do |f| %>
            <%= f.label :message %>. <strong>Please leave contact information:</strong><br>
           <%= f.text_area :message, rows: 3, class: 'form-control', placeholder: "Hey! Are you free on Fri night..." %><br>
           <%= f.hidden_field :id %>
            <%= f.submit "Send message", class: 'btn btn-primary contact' %>
          <%end%>
         </div>
        <button class="cancel-message btn-default btn">Cancel</button> <br>
     
        <button class="hire-dj btn-centered btn btn-info">Contact</button> 
               
         <%end%>
         <br>
      </div>
  

  <div class="profile-pic col-md-4">
    <p><%= image_tag @dj.image_url, class: 'profile-image' %></p>
  </div>
   </div> 
  <br>
  <div class="dj-info col-md-10"
  <h4> About: </h4><%= truncate(@dj.bio.html_safe, length: 900, separator: ".") %>
  <h4> </h4><%= @genres.map {|g| g.name}.join(", ") %>
  <h4> Hourly Rate: </h4>$<%= @dj.rate_per_hour %>0
  <div class = "show-demo">
    <% if @dj.demo %>
      <%= @dj.demo.html_safe %>
    <%end%>
  </div>
</div>



<div class="row">
  <div class="update-form col-md-10">
  <%= render 'form' %><br>
<button class="cancel-edit btn-centered btn">Cancel</button> <br>
  </div>
</div>
</div>

