<div class="row page-header title">
    <h2 class='col-md-5'> <%= @dj.name %>  </h2>
</div>
<div class="dj-profile">


   <div class="row">
      <div class= "edit-or-contact col-md-2 pull-right">

        <% if current_user && current_user.dj_status && current_user.sdcl_id == @dj.sdcl_id %>
        <button class="edit-dj pull-right btn btn-primary">Edit your profile</button>
        <br>
        <%else%>

       <%= render 'contact_modal' %>
   
        <a href="#" data-toggle="modal" data-target="#basicModal" >
          <div class="hover-mask bottom-mask mask-orange">
            <h2 class='hire-dj btn-centered btn btn-info pull-right'>Contact</h2>
          </div>
        </a>
   <%end%>

      </div>
 

<!-- ///////////  PROFILE //////////////////////////////// -->
<div id="dj-profile">
  
    <div class="profile-pic col-md-3">
      <%= image_tag @dj.image_url, class: 'profile-image' %>
    </div>
    <div class="dj-info col-md-5 col-md-offset-1 vertical-center">
     

    <div class="other-info">
    <% if !@dj.fb_likes.blank? %>
        <h4>FB Likes: <%= number_with_delimiter(@dj.fb_likes, :delimiter => ',') %></h4>
      <%end%>
     <div class="sound-cld">
      <h4>Sound Cloud Followers: <%= number_with_delimiter(@dj.sdcl_followers, :delimiter => ',') if @dj.sdcl_followers %></h4>
    </div>
    <!-- #truncate(@dj.bio.html_safe, length: 40, separator: ".") -->
    <% if !@genres.blank? %>
    <h4> Genres: <%= @genres.map {|g| g.name}.join(", ") %></h4>
    <%end%>
    <% if !@dj.rate.blank? %>
    <h4> Nightly Rate: <%= @dj.rate%></h4>
    <%end%>
    <h5> located in <%= @dj.city %> </h5>

 
    <% if @dj.can_produce %>
    <h6> This DJ can provide production equipment on request. </h6>
    <%end%>
<!--       <a href="#" data-toggle="modal" data-target="#rateModal" >
        <div class="hover-mask bottom-mask mask-orange">
          <div class='rate-button btn-centered btn btn-success'>Rate <%=@dj.name%></div>
        </div>
      </a>
 --> 
    DJB Rating<sup>beta</sup>:
    <div id='star'>
   
    </div>
    </div>

 
    <div class='rate-button btn-centered btn btn-default'>Rate <%=@dj.name%></div>

    <div class="rate-dj text-center">
    <% if logged_in? %>

     <p><strong>Click on a star to rate <%= @dj.name %>.</strong><br>
     Your rating is updated and recorded with every click.</p>
     <p>
      <%= image_tag(current_user.image_url)%>
    <div id='user_star'>

    </div></p>
    <%= link_to 'Done Rating', '#', class: 'done-rating'%>
    <%else%>
    <div class="text-center bg-warning">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> You must be logged in to add a rating.</strong>

    
    <h4><%= link_to 'Sign in with Facebook', '/auth/facebook'%>
    | <%= link_to 'Back', '#', class: 'text-center done-rating'%></h4>   </div>
     <%end%> 
 
    </div>
   


    </div>
  </div>
    <br>
    </div>
    <br>
  <div class="tracks">
    <% if !@dj.tracks.blank? %>
    <%= render 'tracks' %><br>
    <%end%>
  </div>


<!-- ////////////// form-begin ///////////////////////-->


<div class="row">
  <div class="update-form col-md-10 col-md-offset-1">
  <%= render 'form' %><br>
<button class="cancel-edit btn-centered btn">Cancel</button> <br>
  </div>
</div>
</div>
<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @dj.average_rating %>,
    path: '/assets'
  });

  $('#user_star').raty({
    score: <%= @rating.score %>,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });
</script>
