<% content_for(:page_header) {"Take Off"} %>
<div id="dj-profile">
  
    <div class="row">
    
      <div class="col-md-4">
        <h2> <%= @dj.name %> </h2>
      </div>

      <div class= "edit-or-contact col-md-4 col-md-offset-4">
        <% if @current_user == @dj %>
        <button class="edit-dj btn-centered btn btn-primary">Edit your profile</button> 
        <%else%>
        <%= button_to "Contact "+@dj.name, send_contact_email_path(id: @dj.id), :class => "hire-dj btn-centered btn btn-info", :method => :post  %>
         <%end%>
         <br>
      </div>
    </div>
  <div class="profile-pic">
    <p><%= image_tag @dj.image_url, class: 'profile-image' %></p>
  </div>
  <br>
  <h4> About: </h4><%= @dj.bio %>
  <h4> Genres: </h4><%= @genres.map {|g| g.name}.join(", ") %>
  <div class = "show-demo">
    <% if @dj.demo %>
      <%= @dj.demo.html_safe %>
    <%end%>
  </div>


</div>

<div class="row">
  <div class="update-form col-md-10">
  <%= render 'form' %><br>
<button class="cancel-edit btn-centered btn">Cancel</button> <br>
  </div>
</div>
