<div class="row page-header title">
    <h1> Take Off </h1>
</div>
<div class="dj-profile">
      <div class="col-md-4">
        <h2> <%= @dj.name %> </h2>
      </div>
      <br>
   <div class="row">
      <div class= "edit-or-contact col-md-7 pull-right">
 
        <% if current_user == @dj %>
        <button class="edit-dj pull-right btn btn-primary">Edit your profile</button>
        <br>
        <%else%>
<!--/////////////////////////// MODAL ////////////////////////////// -->
  <div class="message-form">
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Contact <%= @dj.name %></h4>
              </div>
              <div class="modal-body">
               <div class="form-group">
            <%= form_for(@dj, url: send_contact_email_path, method: 'post') do |f| %>
            <%= f.label :message %>
           <%= f.text_area :message, rows: 4, class: 'form-control', placeholder: "Hey! Are you free on Fri night for a gig at my bar..." %>
            <%= f.label :email %>
           <%= email_field(:current_user, :email, class: 'form-control', placeholder: "youremail@email.com", required: true) %>
            <%= f.label :phone %> (Suggested)
            <%= telephone_field(:current_user, :phone, class: 'form-control', placeholder: "917-555-5555") %>
            <%= f.hidden_field :id %>
             
                </div>
              </div>

    <!--////////////////////// model end //////////////////////////////// -->
              <div class="modal-footer">
                <%= f.submit "Send message", class: 'btn btn-info contact' %>
                <button type="button" class="btn btn-default cancel-message" data-dismiss="modal">Close</button>
              </div>
            <%end%>
            </div>
          </div>
        </div>
     
      </div>
      
        <a href="#" data-toggle="modal" data-target="#basicModal" >
          <div class="hover-mask bottom-mask mask-orange">
            <h2 class='hire-dj btn-centered btn btn-info pull-right'>Contact</h2>
          </div>
        </a>
   <%end%>
        <br>
      </div>
  </div>

<!-- ///////////  PROFILE //////////////////////////////// -->
<div id="dj-profile">
  <div class= 'row'> 
    <div class="profile-pic col-md-3">
      <%= image_tag @dj.image_url, class: 'profile-image' %>
    </div>
    <div class="dj-info col-md-4 col-md-offset-1 vertical-center">

     <div class="sound-cld">
      <h4>Sound Cloud Followers: <%= @dj.sdcl_followers if @dj.sdcl_followers %></h4>
    </div>
    <div class="other-info">
    <!-- #truncate(@dj.bio.html_safe, length: 40, separator: ".") -->
    <h4> Genres: <%= @genres.map {|g| g.name}.join(", ") %></h4>
    <h4> Hourly Rate: $<%= @dj.rate_per_hour %>0</h4>
    </div>
    </div>
  </div>
    <br>
  <div class="tracks">
    <div class = "show-demo track">
    <% if tracks.first.demo %>
    Demo: <%= @tracks.first.title %>
    <%= @tracks.first.demo.html_safe if @tracks.first.demo %><br>
    Playback Count: <%= @tracks.first.playback_count %><br>
    Favorites Count: <%= @tracks.first.favoritings_count %><br> 
    <% else %>
    Demo: <%= @dj.demo.html_safe %>
    <%end%>
    </div>
    <br>
   <%= link_to 'More Tracks', '#', class: 'more-tracks'%>  
   <div class = "other-tracks">
    <%= link_to 'Hide Tracks', '#', class: 'hide-tracks'%>
    <% @tracks[1..4].each do |track| %>
    <% if track.demo %>
    <div class='track'>
      <%= track.title %>
      <%= track.demo.html_safe %><br>
      Playback Count: <%= track.playback_count %><br>
      Favorites Count: <%= track.favoritings_count %><br>
    </div>
    <%end%>
    <%end%>
  </div>
  </div>
</div>

<!-- ////////////// form-begin ///////////////////////-->


<div class="row">
  <div class="update-form col-md-10 col-md-offset-1">
  <%= render 'form' %><br>
<button class="cancel-edit btn-centered btn">Cancel</button> <br>
  </div>
</div>
</div>

