<div class="page-header text-center col-md-6 col-md-offset-3">
  <h1>Why Does the DJ Suck?</h1>
</div>
<div class='content text-center'>
  <div class="about-djbase text-center col-md-12 row">
    <h4><p>There are far too many talented DJs running around New York trying to get a gig, </p><p>Far too many middle men in between a venue and an awesome act, </p><p>Not enough info on how good a DJ is, how much they should be hired for, and where to find them.</p><h3><strong> Let's keep the party bumpin.</strong></h3>
  </div>
  <div class="contact-form row col-md-6 col-md-offset-3">
    <h2>Get at us.</h2>
    <p>With feedback or whatever, we're happy to hear from you.</p>
    <%= form_tag(contact_us_path, method: "post") do %>
      <%= text_area_tag(:message, "", class: 'form-control', rows: 6, placeholder: "your message here", required: true)%>
      <br>
      <%= email_field_tag(:email, "", class: 'form-control', placeholder: "youremail@email.com", required: true) %>
      <% if logged_in? %>
        <%= hidden_field_tag :current_user, :id %><br>
      <%end%>
      <%= submit_tag("Send", class: 'btn btn-small') %>
    <%end%>
  </div>

</div>

  <div class='footer controls text-center col-md-12' id="footer">
    <%= link_to "Login", '/auth/facebook' %> |
    <%= link_to "Sign Up", '/auth/facebook' %> |
    <%= link_to 'Contact', '#', class: 'send-contact'%> |
    <%= link_to 'Back', :back %> 
  </div>

