<div class="about-djbase">

  <div class="page-header text-center col-md-6 col-md-offset-3">
    <h2>For the Love of Music . . . </h2>
  </div>
  <div class='content text-center'>
    <div class="col-md-12 row">
      <h3> We're not foodies rating bars -  <br> We're music-lovers, who understand the power of a DJ, who, regardless of the genre they spin, not only makes the party bump, <p> But enhances the rhythms that already ELATE us.</p> <p>It's time we draw back the curtain and reward the people in the industry who do it right.</p>
      <h3><strong>DeeJBase is a voice for <em>real</em> DJs, the venues who hire them, and the people who love them.</strong></h3>
    </div>

  </div>
</div>

  <div class='footer controls text-center col-md-12' id="footer">
    <% if !logged_in? %>
    <%= link_to "Login", '/auth/facebook' %> |
    <%= link_to "Sign Up", '/auth/facebook' %> |
    <%end%>
    <%= link_to 'Contact', '#', class: 'send-contact'%>
    <%= link_to 'Close', '#', class: 'close-contact' %> |
    <%= link_to 'Back', :back %>
  </div>

