<div class="row page-header">
<h1>Welcome</h1>
</div>
<%= form_for current_user, url: set_dj_path, method: 'post' do |f| %>

<%= f.radio_button(:dj_status, true) %>
<%= f.label(:dj_true, "I am a dj. Bring me to my profile.") %><br>
<%= f.label(:sdcl_id, "Enter the secret pin that was emailed to you.") %><br>
<%= f.number_field(:sdcl_id, class: 'form-control', placeholder: "e.g. 23485442") %>
<br>
<%= f.radio_button(:dj_status, false) %>
<%= f.label(:dj_false, "I'm just browsing.") %> <br>
<%= f.submit "Submit" %>
<% end %>

