  <div class="row page-header">
    <div class="title col-md-7">
    <h1> Find NYC's Rawest Talent </h1>
    </div>

  
  <% if @genre %>
  <form class="filter_form pull-right col-md-3">
   <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] }<< ["All", 8], @genre.id), class: "form-control select-genre") %>
    <input type="submit" value="Filter Genres" class='btn btn-info btn-small' />
  </form>
  <% else %>
  <form class="filter_form pull-right col-md-3">
    <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] } << ["All", 8], 8), class: "form-control select-genre") %>
    <input type="submit" value="Filter Genres" class='btn btn-info btn-small' />
  </form>

  <%end%>
  </div>


    <ul>
    <% @djs.each do |dj| %>
    
    <% if dj.dj_status %>
    <div class='dj-item'>
      <div class= "dj-header">
        <h3><%= link_to dj.name, dj_path(dj) %></h3>
      
      </div>

        <div class="bio">

          <%if dj.bio %>

            |<%= truncate(dj.bio.html_safe, length: 100, separator: " ") %> |
            
              <%= dj.genres.map {|g| g.name}.join(", ") %>
          <%end%>
        </div>
        <p><div class="index-image">
          <%= link_to image_tag(dj.image_url), dj_path(dj) %>
        </div></p>
        <div class="sound-cld">
          Sound Cloud Followers: <%= dj.sdcl_followers if dj.sdcl_followers %>
        </div>
        <p><div class="demo-embed">
          <% if dj.demo %>
          <%= dj.demo.html_safe %>
          <%end%>
        </div></p>
       </div>
       <% end %>
   
        <br><br>
    <% end %>
  </ul>


