<% content_for(:page_header) {"Find NYC's Rawest Talent"} %>
    <ul>
    <% @djs.each do |dj| %>
    <div class= "dj-header">
      <h4><%= link_to dj.name, dj_path(dj) %></h4>
    
    </div>
      <div class="bio">
        <%if dj.bio %>
          <%= truncate(dj.bio, length: 55, separator: " ") %> |
          Genres: 
          <% dj.genres.each do |g| %>
            <%= g.name %>
          <%end%>
        <%end%>
      </div>
      <p><div class="index-image">
        <%= link_to image_tag(dj.image_url), dj_path(dj) %>
      </div></p>
      <p><div class="demo-embed">
        <% if dj.demo %>
        <%= dj.demo.html_safe %>
        <%end%>
      </div></p>
       917.555.5555 | deejay@gmail.com <br>
      _______________________________
      <br><br>
    <% end %>
  </ul>

