
  <div class="row page-header">
    <div class="title col-md-7">
    <h1> Find NYC's Rawest Talent </h1>
    </div>

  
  <% if @genre %>
  <form class="filter_form pull-right col-md-3">
   <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] }<< ["All Genres", 'all'], @genre.id), class: "form-control select-genre",:onchange => 'this.form.submit()') %>
  
  </form>
  <% else %>
  <form class="filter_form pull-right col-md-3">
    <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] } << ["All Genres", 'all'], 'all'), class: "form-control select-genre",:onchange => 'this.form.submit()') %>
  
  </form>

  <%end%>
  </div>

<div id="results">
<ul>
<% @djs.each do |dj| %>
    
  <div class='dj-item'>
    <div class= "dj-header">
      <h3><%= link_to dj.name, dj_path(dj) %></h3>
    
    </div>
    <div class="row">
      <p><div class="index-image col-md-3">
        <%= link_to image_tag(dj.image_url), dj_path(dj) %>
      </div></p>
      <div class="bio col-md-8">

        <%if dj.bio %>
        <h4>Sound Cloud Followers: <%= dj.sdcl_followers if dj.sdcl_followers %></h4>      
          <h4>Genres: <%= dj.genres.map {|g| g.name}.join(", ") %></h4>
        <%end%>
      </div>
    </div>
    <br>
      <div class="sound-cld">
        <!-- Sound Cloud Followers: <%= dj.sdcl_followers if dj.sdcl_followers %> -->
      </div>
      <p><div class="demo-embed">
        <% if dj.demo %>
        <%= dj.demo.html_safe %>
        <%end%>
      </div></p>
  </div>
  <br>
<% end %>
   
        <br><br>
<div id="infinite-scrolling">
  <%= will_paginate @djs %>
</div>
</ul>
<div>

