          <div class="form-group">
           <%= form_tag(contact_us_url, method: "post") do %>
            <%= label_tag :message %>
           <%= text_area_tag(:message, "", class: 'form-control', rows: 4, placeholder: "If you're a DJ, please add links to your social media, especially SoundCloud.", required: true)%>
            <%= label_tag :email %>
           <%= email_field_tag(:email, "", class: 'form-control', placeholder: "youremail@email.com", required: true) %><br>
            <%= radio_button_tag(:dj_status, true) %>
            <%= label_tag(:dj_true, "I am a DJ.") %><br>
            <%= radio_button_tag(:dj_status, false) %>
            <%= label_tag(:dj_true, "I hire DJs.") %><br>
            <%= radio_button_tag(:dj_status, false) %>
            <%= label_tag(:dj_false, "I just want to know more.") %> <br>
                </div>
              </div>

                <%= submit_tag "Sign Up", class: 'btn btn-info' %>
            <%end%>