
<% @comments.each do |comment| %>
  <div class="review">
  <div class="row">
    <div class= "user-image col-md-1">
      <%= image_tag(comment.user.image_url) %>
  </div>
    <div class= "comment col-md-9">
      <div class="user-rating">
        <strong>Rating: <%= comment.rating.score.to_i %>/5 
          <% if comment.event %>
          (based on event on <%= comment.event.date.strftime("%A, %B %d, %Y")%>)</strong>
          <%end%>
      </div>
      <div class="user-comment" id='<%=comment.id%>'>
        <li><%= truncate(comment.body, length: 500, separator: ".") %></li>
      </div>
        
    </div>
    <div class="claim-event col-md-2">
      <h6>Were you the DJ?</h6>
      <button class='btn-xs btn btn-default'>Claim Event</button>
    </div>
  </div>
  <div class='row'>

    <span class='col-md-1 text-center first-name'><%= comment.user.first_name if comment.user.first_name %></span>
    <span class='col-md-10 updated'>(Updated <%= time_ago_in_words comment.updated_at %> ago.)</span>
  </div>
  </div>
<%end%>