<% @comments_uniq_by_user.each do |comment| %>
<% @user=comment.user %>
<% first_rating = comment.rating%>
<% other_ratings= @venue.ratings.where(user: @user).where.not(id: first_rating.id).valid_only%>
<div class="review">
  <div class="row">
    <% if logged_in? && comment.user == current_user %>
    <ul class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <a id="drop1" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down edit-comment-carrot"></span></a>
        <ul class="dropdown-menu-comment dropdown-menu" role="menu" aria-labelledby="drop1">
          <li>
          <%= link_to "edit", "#", class: "fix-comment-link" %>
          </li>
        </ul>
      </div>
    </ul>
    <%end%>

  </div>
  <div class="row">
    <div class= "user-image text-center col-md-1">
      <%= link_to(image_tag(@user.image_url), user_path(@user))%>
      <%= @user.first_name %>
    </div>
    <div class= "comment col-md-9">
      <div class="user-rating">
        Rating: <%= comment.rating.score.to_i %>/5 
          <% if comment.event && comment.event.date %>
          (based on event on <%= comment.event.date.strftime("%A, %B %d, %Y")%>
            <%if comment.event.promoter%>
              thrown by <%= link_to comment.event.promoter.name, promoter_path(comment.event.promoter.slugify) %>
            <%end%>)
          <%end%>
          
      </div>
      <div class="user-comment" id='<%=comment.id%>'>
        <%= simple_format(truncate(comment.body, length: 1500, separator: ".")) %>
      </div>
      <% if logged_in? && comment.user == current_user %>
        <% @comment = comment %>   
            <%= render 'fix_comment' %>
       <%end%>  
    </div>
  <%if comment.event && comment.event.dj %>
  <% dj=comment.event.dj%>
    <div class="claim-event user-image col-md-2">
      <%= link_to image_tag(dj.image_url), dj_path(dj.slugify) %><br>
      <span class="link-dj text-center"><%= link_to dj.name, dj_path(dj.slugify) %> spun<span>
    </div>
    <div class="col-md-1">

    </div>
  <%elsif comment.event%>
    <div class="claim-event col-md-2">
      <h6>Were you the DJ?</h6>
      <% if logged_in? && current_user.sdcl_id%>
        <%= button_to "Claim Event", claim_event_path, :class => 'btn-xs btn btn-default', :method => :post, params:{current_user: current_user.id, event: comment.event}  %>
      <%else%>
        <a href="#" data-toggle="modal" data-target="#contactModal" >
        <div class="hover-mask bottom-mask mask-orange">
          <button class="btn-xs btn btn-default">Claim Event</button>
        </div>
        </a>
      <%end%>
    </div>
  <%end%>
  </div>
  <div class='row'>
    <span class='col-md-10 col-md-offset-1 updated'>(Updated <%= time_ago_in_words comment.updated_at %> ago.)</span>
    <%if other_ratings.any? %>
      <span class='col-md-10 col-md-offset-1 more-ratings'><%= link_to("More", "#")%></span>
      <span class='col-md-10 col-md-offset-1 less-ratings'><%= link_to("Less", "#")%></span>
      <div class="other-ratings">
      <% other_ratings.each do |rating| %>
        <div class="review row col-md-10 col-md-offset-1">
        Rating: <%= rating.score.to_i %>/5 
        <% if rating.event && rating.event.date %>
          (based on event on <%= rating.event.date.strftime("%A, %B %d, %Y")%>
          <%if rating.event.promoter%>
            thrown by <%= link_to rating.event.promoter.name, promoter_path(rating.event.promoter.slugify) %>
          <%end%>)
        <%end%>

        <div class="user-comment col-md-10" id='<%=rating.comment.id%>'>
          <%= simple_format(truncate(rating.comment.body, length: 1500, separator: ".")) %>
        </div>
        <% if logged_in? && comment.user == current_user %>
        <% @other_comment = rating.comment %>
          <%= render 'fix_other_comment' %>
        <%end%>
      </div>        
      <%if rating.event && rating.event.dj %>
        <% dj=rating.event.dj%>
        <div class="claim-event user-image col-md-2">
          <%= link_to image_tag(dj.image_url), dj_path(dj.slugify) %><br>
          <span class="link-dj text-center"><%= link_to dj.name, dj_path(dj.slugify) %> spun<span>
        </div>
      <%end%>
      </div>

    <%end %>


    </div>
    <%end%>


  </div>
  </div>

<%end%>

