
  <div class="row header rate-music-header">
    <div class="title">
    <h2 class="text-center" id="rate-the-music"> find dope live music </h2><h3 class="text-center" id="rate-the-music"></h3> 
    </div>
<!-- <div class="search-venues">

</div> -->
  </div>
<div class="venue-list container-fluid">
<div id="results">
  <br>
  <% inclues_array = [:neighborhood, :events, :comments] if @venues %>
  <% inclues_array = [:events, :comments] if @promoters%>
  <% inclues_array = [:events, :genres] if @djs%>

  <% @resources.includes(inclues_array).each_with_index do |resource, i| %>

  <% if i%3 == 0  %>
    <div class='dj-item col-md-3 grey-overlay'> 
  <%elsif i%3 == 1%>
    <div class='dj-item col-md-3 red-overlay'>
  <%else%>
    <div class='dj-item col-md-3 brown-overlay'>
  <%end%>
  <% if @venues %>
     <a href="/venues/<%=resource.slugify%>">
  <% elsif @promoters %>
    <a href="/promoters/<%=resource.slugify%>"> 
  <% elsif @djs %>
    <a href="/djs/<%=resource.slugify%>">
  <%end%>
    <div class="row">
    <div class= "dj-header text-center col-md-10 col-md-offset-1">
      <h2 class="index-title" style="color:white;"><%=resource.name%></h2>
      <div id="star<%=resource.id%>" class="djb" data-score=<%= resource.average_rating%>>
         
      </div>
        <% if @venues && !resource.neighborhood.blank? %>     
          <h4 class="index-hood"><%= resource.neighborhood.name %></h4>
        <% end%>
        <div class='overlay'>
        <div class="index-category"><%= resource.category.singularize if @venues && resource.category %></div> 
       </div>        
    </div>
<img class="dj-index-image" src=<%=resource.image_url%>>
<!--         <div class="preview col-md-5 col-md-offset-1">
          <% comments = resource.comments.select {|c| c.is_valid? && c.valid? && c.rating.valid? && c.rating.score != 0} if resource.comments.any?  %> -->
          <% if comments && comments.any? %>
        <!-- <em><%=truncate(comments.last.body, length: 300, separator: " ") %></em> -->
        <%else%>
          <!-- <em>Be the first to review <%=resource.name%>'s music.</em> -->
        <%end%>
      <!-- </div> -->
    </div>
  </div></a>
<% end %> 
</div>
        <br><br>
<div id="infinite-scrolling" class="col-md-12">
  <%= will_paginate @resources %>
</div>
    <div class="col-md-12">
      <div class="form-group col-md-4 col-md-offset-4">
       <%= form_tag(contact_us_url, method: "post") do %>
       <%= email_field_tag(:email, "", class: 'form-control', placeholder: "youremail@email.com", required: true) %>
        <%= hidden_field_tag(:mailing, true) %>
        <%= submit_tag "Send me a weekly email about parties in ny", class: 'btn listserve-btn' %>
        <%end%>
      </div>
    </div>

<script type="text/javascript">
  <% @resources.each do |resource| %>
   $("#star<%=resource.id%>").raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets'
    });
  <%end%>


</script>


