
  <div class="row page-header">
    <div class="title col-md-7 col-xs-5">
    <h3> <strong>PARTY > RATE THE DJ > REPEAT</strong> </h3>
    <h4>
    </div>
<div class="search-venues">
  <%= render 'venue_search' %>
</div>
  </div>

<div id="results">
<ul>
<% @venues.each do |venue| %>
    
  <div class='dj-item'>

    <div class= "dj-header">
      <h3><%= link_to venue.name.titleize, venue_path(venue.slugify) %></h3>
    
    </div>
    <div class="row">
      <p><div class="index-image col-md-3">
        <%= link_to image_tag(venue.imageify, alt: venue.image_url), venue_path(venue.slugify) %>
      </div></p>

  <%= link_to venue_path(venue.slugify) do %>
      <div class="bio col-md-8 col-md-offset-1">
        <div class='overlay'>
        
        <% if !venue.neighborhood.blank? %>     
          <h4><%= venue.neighborhood.name %></h4>
        <% end%>
        <div id="star<%=venue.id%>" class="djb" data-score=<%= venue.average_rating%>>
         Music Rating<sup>beta</sup>:
        </div>
       </div>
      </div>

  <% end %>
    </div>


  </div>
  <br>
<% end %>
   
        <br><br>
<div id="infinite-scrolling">
  <%= will_paginate @venues %>
</div>
</ul>

<script type="text/javascript">
  <% @venues.each do |venue| %>
   $("#star<%=venue.id%>").raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets'
    });
  <%end%>
</script>


