  <script type="text/javascript">
    $(function() {  
        $('#select_origin').autocomplete({
            source: '<%= djs_path(:json) %>'
          })

        $('.submit-comment').mouseenter(function(){
          var dj_name = $('#select_origin').val();
          $('#link_dj').val(dj_name);
        })
        
    })

    </script>
<div class= "venue-show container-fluid">
<div class="row page-header title">
  <h2 class='col-md-5'> <%= @venue.name %>  </h2>
<!--removed venue search -->
</div>
<div class="dj-profile">
<div class="row">
<div id="dj-profile">
  
  <div class="profile-pic col-md-3">
    <%= link_to image_tag(@venue.imageify), venue_path(@venue.slugify), class: 'profile-image' %>
  </div>
  <div class="dj-info venue-info col-md-5 vertical-center">   
    <div class="other-info">
      <h4>Review <%=@venue.name%>'s music.</h4>
      <%= @venue.neighborhood.name if @venue.neighborhood %><br>
      <%= @venue.address %><br>
      <%= @venue.category %><br>
      DJB Rating<sup></sup>:
      <div id='star'>
   
      </div>
    </div>
  
  <div class='rate-button btn-centered btn btn-default'>Review <%=@venue.name%></div>

  <div class="rate-dj text-center">
    <% if logged_in? %>

      <p><strong>What'd you think of <%= @venue.name %>'s DJ?</strong><br>

      <div class="user-rate">
        <div id='user_star'>

        </div></p>
        <%= simple_form_for(@comment, url: comment_path(@comment), method: "patch") do |f| %>
      
          <%= f.input :body, label: "Rate above. Comment (at least 1-2 sentences) below.", required: false, hint: " ", placeholder: "How did the DJ do? Transitions, song choice? - we don't want to hear how long you waited in line or how shitty the bartender was (min 40 characters).", input_html: { minlength: 40, rows: 10,  class: "form-control comment" }%>
          <div class="row">
            <div class="date-select col-md-6">
            <%= label_tag :event_date %><br>
            <%= text_field_tag :date, "mm-dd-yyyy", {class: "text-center datepicker"} %>
            <%= hidden_field_tag :venue_id, @venue.id %>
            <%= hidden_field_tag :rating_id, @new_rating.id %>
            </div>
              <div class='col-md-5 dj-autocomplete'>
              DJ (Optional)<br>
              <input id="select_origin" class="form-control" placeholder="Dj's Soundcloud name here"/>
            <input id="link_dj" name="dj_name" type="hidden"/>
          </div>
        </div><br>
          <%= f.button :submit, "Submit Comment", class: "disabled btn btn-default submit-comment"%>

        <%end%>
        <a href="#"><div class="done-rating cancel-comment" title="To delete your comment, cancel your rating or text body and hit 'update comment' above."style="color: red;">Cancel</div></a>
      </div>
    <%elsif !logged_in?%>
      <div class="text-center bg-warning">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> You must be logged in to add a rating.</strong>

      
      <h4><%= link_to 'Sign in with Facebook', '/auth/facebook'%>
      | <%= link_to 'Back', '#', class: 'text-center done-rating'%></h4>   </div>
     <%end%> 
 
  </div><br>
</div>
<div class="map col-md-3 vertical-center">
<!--   <button class="show-map btn btn-xs btn-info btn-block center-block">Show map</button>
  <button class='hide-map btn-xs btn btn-info btn-block center-block'>Hide Map</button> -->
  <div id="map" style="height: 200px; width: 280px; border-radius: 30px; margin-left:20px;" data-lat="<%= @venue.latitude %>" data-lng="<%= @venue.longitude %>"></div>


</div>
</div>
</div>
    <br><br>

  <% if @comments %>
     <h5 class="row venue-comments-title">Reviews</h5>
     <%= render 'reviews' %><br>
  <%end%>


  <% content_for :head do %>
    <meta property="fb:app_id" content="373382026154995" /> 
    <meta property="og:url" content="http://www.deejbase.com/venues/<%=@venue.slugify%>" /> 
    <meta property="og:site_name" content="Deejbase" />
    <% if logged_in? && @venue.ratings.where(user: current_user) && @venue.ratings.where(user: current_user).valid_only.any? %>
    <meta property="og:title" content="I rated <%=@venue.name%> <%=@venue.ratings.where(user: current_user).valid_only.last.score%> out of 5 stars." />
    <%else%>
    <meta property="og:title" content="I reviewed <%=@venue.name%>. Check out my review." />
    <%end%>
    <meta property="og:description" content="<%=@venue.ratings.where(user: current_user).valid_only.last.comment.body if logged_in? && @venue.ratings && @venue.ratings.where(user: current_user).valid_only.last && @venue.ratings.where(user: current_user).valid_only.last.comment %>"/>
    <meta property="og:image" content="http://honisoit.com/wp-content/uploads/2012/08/popcorn2.jpg" /> 
  <% end %>

  <% if logged_in? && @venue.ratings.where(user: current_user).valid_only.any?%><br>
  <div class="social-share">
    Share your most recent review
    <div class="fb-share-button" data-href="http://www.deejbase.com/venues/<%=@venue.slugify%>" data-layout="button"></div></div>
  <%end%>

<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @venue.average_rating %>,
    path: '/assets'
  });


  $('#user_star').raty({
    score: <%= @new_rating.score %>,
    cancel: true,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @new_rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });



</script>
