<div class="row page-header title">
  <h2 class='col-md-5'> <%= @venue.name %>  </h2>
  <%= render 'venue_search' %>
</div>
<div class="dj-profile">
  <div class="row">
<div id="dj-profile">
  
  <div class="profile-pic col-md-3">
    <%= link_to image_tag(@venue.imageify, alt: @venue.image_url), venue_path(@venue), class: 'profile-image' %>
  </div>
  <div class="dj-info col-md-5 col-md-offset-1 vertical-center">   
    <div class="other-info">
      <h4>Review <%=@venue.name%>'s music.</h4>
      <%= @venue.neighborhood.name if @venue.neighborhood %><br>
      <%= @venue.address %><br>
      <%= @venue.category %><br>
      DJB Rating<sup>beta</sup>:
      <div id='star'>
   
      </div>
    </div>
  
  <div class='rate-button btn-centered btn btn-default'>Review <%=@venue.name%></div>

  <div class="rate-dj text-center">
    <% if logged_in? %>

      <p><strong>What'd you think of <%= @venue.name %>'s DJ?</strong><br>


      <div class="user-rate">
        <div id='user_star'>

        </div></p>
        <%= simple_form_for(@comment, url: comment_path(@comment), method: "patch") do |f| %>
    
    
          <%= f.input :body, label: "Click on a star above and comment below.", required: false, hint: " ", placeholder: "How did the DJ do? Transitions, song choice? - we don't want to hear how long you waited in line or how shitty the bartender was (min 30 characters).", input_html: { minlength: 30, rows: 5,  class: "form-control comment" }%>
          
            <%= text_field_tag :date, "Pick a Date", {class: "text-center datepicker"} %><br>

          <%= f.button :submit, class: "btn btn-default submit-comment"%>

        <%end%>
        <a href="#"><div class="done-rating cancel-comment" title="To delete your comment, cancel your rating or text body and hit 'update comment' above."style="color: red;">Cancel</div></a>
      </div>
    <%elsif !logged_in?%>
      <div class="text-center bg-warning">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> You must be logged in to add a rating.</strong>

      
      <h4><%= link_to 'Sign in with Facebook', '/auth/facebook'%>
      | <%= link_to 'Back', '#', class: 'text-center done-rating'%></h4>   </div>
     <%end%> 
 
  </div><br>
</div>
</div>
</div>
    <br><br>

   <% if @comments %>
     <h5 class="row comments-title">Reviews</h5>

     <%= render 'reviews' %><br>

  <%end%>

<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @venue.average_rating %>,
    path: '/assets'
  });


  $('#user_star').raty({
    score: <%= @rating.score %>,
    cancel: true,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });




</script>
