  <script type="text/javascript">
    $(function() {  
        $('#select_origin').autocomplete({
            source: '<%= djs_path(:json) %>'
          })

        $('.submit-comment').mouseenter(function(){
          var dj_name = $('#select_origin').val();
          $('#link_dj').val(dj_name);
        })       
    })

    </script>
  <% @resource = @venue if @venue %>
  <% @resource = @promoter if @promoter %>
  <% @resource = @festival if @festival %>
  <% @resource = @dj if @dj %>
<div class= "venue-show container-fluid">
<!-- <div class="row page-header title">
</div> -->
<div class="dj-profile">
<div class="row">
<div id="dj-profile">
  
  <div class="dj-info venue-info col-md-4">
    <div class="other-info">
      <% if @resource.link.present? %>
      <a target="_blank" href= <%= @resource.link %> >
      <%end%>
      <h2> <%= @resource.name %>  </h2></a>
      <div id='star'>
   
      </div>
      <% if @resource.instance_of?(Venue) %>
        <span class="hood"><%= @resource.neighborhood.name if @resource.neighborhood %><br></span>
        <span class="address"><%= @resource.address %><br></span>
        <span class="category"><%= @resource.category %><br></span>
      <%end%>
    </div>
    <div class='rate-button btn-lg btn-default col-md-9'>Write a review</div><br><br>
    <% if @resource.instance_of?(Venue) %>

      <div class="map">
        <br>
    <!--   <button class="show-map btn btn-xs btn-info btn-block center-block">Show map</button>
      <button class='hide-map btn-xs btn btn-info btn-block center-block'>Hide Map</button> -->
      <div id="map" style="height: 200px; width: 280px;" data-lat="<%= @venue.latitude %>" data-lng="<%= @venue.longitude %>"></div>
      </div>
    <%end%>

  <div class="rate-dj">
    <% if logged_in? %>
      <%= render :partial => '/venues/review_form' %> 
    <%elsif !logged_in?%>
      <div class="bg-warning">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> You must be logged in to add a rating.</strong>      
      <h4><%= link_to 'Sign in with Facebook', '/auth/facebook'%>
      | <%= link_to 'Back', '#', class: 'text-center done-rating'%></h4>
      </div>
     <%end%>
  </div><br>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links" class="col-md-8">

        <%= image_tag (@image) if @image%>
        <%= image_tag (@image2) if @image2 %>
        <%= image_tag (@image3) if @image3 %>

</div>
</div>
</div>

  <% if @comments %>
     <h5 class="row venue-comments-title">Reviews</h5>
    <%= render :partial => '/venues/reviews' %>
  <%end%>

  <% content_for :head do %>
    <meta property="fb:app_id" content="373382026154995" /> 
    <meta property="og:url" content="http://www.deejbase.com/<%=@resource.class.name.downcase%>s/<%=@resource.slugify%>" /> 
    <meta property="og:site_name" content="Deejbase" />
    <% if @rating_fbshare %>
      <meta property="og:title" content="I rated <%=@resource.name%> <%=@rating_fbshare%> out of 5 stars. Check out my review." />
    <%else%>
      <meta property="og:title" content="A review of <%=@resource.name%>." />
    <%end%>
    <meta property="og:description" content="<%=@comment_fbshare%>"/>
    <meta property="og:image" content="<%=@image%>"/>
  <% end %>

  <% if logged_in? && @resource.ratings.where(user: current_user).valid_only.any?%><br>
  <div class="social-share">
    Reviewed <%= @resource.name %>? Share that shit.
    <div class="fb-share-button" data-href="http://www.deejbase.com/<%=@resource.class.name.downcase%>s/<%=@resource.slugify%>" data-layout="button"></div>
  </div>
  <%end%>

<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @resource.average_rating %>,
    path: '/assets'
  });

  $('#user_star').raty({
    score: <%= @new_rating.score %>,
    cancel: true,
    path: '/assets',
    click: function(score, evt) {
      $.ajax({
        url: '/ratings/' + <%= @new_rating.id %>,
        type: 'PATCH',
        data: { score: score }
      });
    }
  });

  document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };

</script>
