<!--   <div class="message-form">
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Contact <%= @dj.name %></h4>
              </div>
              <div class="modal-body">
               <div class="form-group">
            <%= form_for(@dj, url: send_contact_email_path, method: 'post') do |f| %>
            <%= f.label :message %>
           <%= f.text_area :message, rows: 6, class: 'form-control', placeholder: "Where the party at?" %>
           <h6>Info to include:<br>
           1. Are you providing production equipment (lights, speakers) and what kind (the more specific the better). <br>
           2. Logistics (time, place, budget). <br>
           3. Vibe (# and average age of guests, preferred music etc.) <br></h6>
            <%= f.label :email %>
           <%= email_field(:current_user, :email, class: 'form-control', placeholder: "youremail@email.com", required: true) %>
            <%= f.label :phone %> (suggested)
            <%= telephone_field(:current_user, :phone, class: 'form-control', placeholder: "917-555-5555") %>
            <%= f.hidden_field :id %>
             
                </div>
              </div>

              <div class="modal-footer">
                <div class='text-center'>
                Don't want to send a message here? Call 914-498-3727 for inquiries.
                </div>
                <%= f.submit "Send message", class: 'btn btn-info contact' %>
                <button type="button" class="btn btn-default cancel-message" data-dismiss="modal">Close</button>
              </div>
            <%end%>
            </div>
          </div>
        </div>
     
      </div> -->