
  <div class="row header rate-music-header">
    <div class="title">
    <h2 class="text-center" id="rate-the-music"> rate the music. </h2>
    </div>
<!-- <div class="search-venues">

</div> -->
  </div>
<div class="venue-list container-fluid">
<div id="results">
  <br>
<% @festivals.each_with_index do |festival, i| %>
  <% if i%3 == 0  %>
    <div class='dj-item grey-overlay'>
  
  <%elsif i%3 == 1%>
    <div class='dj-item red-overlay'>
  <%else%>

    <div class='dj-item brown-overlay'>

  <%end%>
     <a href="/festivals/<%=festival.slugify%>">
    <div class="row">
    <div class= "dj-header col-md-4 col-md-offset-1">
      <h2><%=festival.name.titleize%></h2>
        <div class='overlay'>
        
        <div id="star<%=festival.id%>" class="djb" data-score=<%=festival.average_rating%>>
         Music Rating<sup></sup>:
        </div>

       </div>        
    </div>

        <div class="preview col-md-5 col-md-offset-1">
          <% comments = festival.comments.select {|c| c.is_valid? && c.valid? && c.rating.valid? && c.rating.score != 0} if festival.comments.any?  %>
          <% if comments && comments.any? %>
        <em><%=truncate(comments.last.body, length: 300, separator: " ") %></em>
        <%else%>
          <em>Be the first to review <%=festival.name%>'s music.</em>
        <%end%>
      </div>
</h6>
    </div>


  </div></a>

<% end %> 
        <br><br>


<script type="text/javascript">
  <% @festivals.each do |festival| %>
   $("#star<%=festival.id%>").raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets'
    });
  <%end%>


</script>
