
<% @comments_uniq_by_user.each do |comment| %>
<% @user=comment.user %>
  <div class="review">
  <div class="row">
    <div class= "user-image text-center col-md-1">
      <%= link_to(image_tag(@user.image_url), user_path(@user))%>
      <%= @user.first_name %>
  </div>
    <div class= "comment col-md-9">
      <div class="user-rating">
        <strong>Rating: <%= comment.rating.score.to_i %>/5 
          <% if comment.event && comment.event.date %>
          (based on event on <%= comment.event.date.strftime("%A, %B %d, %Y")%></strong>
            <% if comment.event.venue %>
            at <%= link_to comment.event.venue.name, venue_path(comment.event.venue.slugify) %></strong>
            <%end%>)
          <%end%>
      </div>
      <div class="user-comment" id='<%=comment.id%>'>
        <li><%= simple_format(truncate(comment.body, length: 1500, separator: ".")) %></li>
      </div>
        
    </div>
  <%if comment.event && comment.event.dj %>
  <% dj=comment.event.dj%>
    <div class="claim-event user-image col-md-2">
      <%= link_to image_tag(dj.image_url), dj_path(dj.slugify) %><br>
      <span class="link-dj text-center"><%= link_to dj.name, dj_path(dj.slugify) %> spun<span>
    </div>
  <%end%>
  </div>
  <div class='row'>
    <span class='col-md-10 col-md-offset-1 updated'>(Updated <%= time_ago_in_words comment.updated_at %> ago.)</span>
  </div>
  </div>
<%end%>

