
  <div class="row header rate-music-header">
    <div class="title">
    <h2 class="text-center" id="rate-the-music"> find dope music </h2>
    </div>
<!-- <div class="search-venues">

</div> -->
  </div>
<div class="venue-list container-fluid">
<div id="results">
  <br>
<% @promoters.includes([:events, :comments]).each_with_index do |promoter, i| %>
  <% if i%3 == 0  %>
    <div class='dj-item grey-overlay'>
  
  <%elsif i%3 == 1%>
    <div class='dj-item red-overlay'>
  <%else%>

    <div class='dj-item brown-overlay'>

  <%end%>
     <a href="/promoters/<%=promoter.slugify%>">
    <div class="row">
    <div class= "dj-header col-md-4 col-md-offset-1">
      <h2><%=promoter.name.titleize%></h2>
        <div class='overlay'>
        
        <div id="star<%=promoter.id%>" class="djb" data-score=<%=promoter.average_rating%>>
         Music<sup></sup>:
        </div>

       </div>        
    </div>

        <div class="preview col-md-5 col-md-offset-1">
          <% comments = promoter.comments.select {|c| c.is_valid? && c.valid? && c.rating.valid? && c.rating.score != 0} if promoter.comments.any?  %>
          <% if comments && comments.any? %>
        <em><%=truncate(comments.last.body, length: 300, separator: " ") %></em>
        <%else%>
          <em>Be the first to review <%=promoter.name%>'s music.</em>
        <%end%>
      </div>
</h6>
    </div>


  </div></a>

<% end %> 
        <br><br>
 <div class="col-md-12">
      <div class="form-group col-md-4 col-md-offset-4 text-center">
       <%= form_tag(contact_us_url, method: "post") do %>
       <%= email_field_tag(:email, "", class: 'form-control', placeholder: "youremail@email.com", required: true) %>
        <%= hidden_field_tag(:mailing, true) %>


        <%= submit_tag "Send me a weekly email about parties in ny", class: 'btn listserve-btn' %>
        <%end%>
      </div>
    </div>

<script type="text/javascript">
  <% @promoters.each do |promoter| %>
   $("#star<%=promoter.id%>").raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets'
    });
  <%end%>


</script>
