<!DOCTYPE html>
<html>
<head>
  <% if @dj %>
  <title><%= @dj.name %>'s Profile - DeeJBase</title>
  <% else %>
  <title>DeeJBase - Find NYC's Rawest DJs</title>
  <%end%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58043909-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="fb-root"></div>
    <script>
      // window.fbAsyncInit = function() {
      //   FB.init({
      //     appId      : '373382026154995',
      //     xfbml      : true,
      //     version    : 'v2.1'
      //   });
      //   FB.login(function(){
      //     FB.api('/me/feed', 'post', {message: 'Hello, world!'});
      //   }, {scope: 'publish_actions'});
      // };


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=373382026154995&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>



<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" id="bar">
    <div class="navbar-header">
      <%= link_to image_tag("logo_white.png", alt: "Find NYCs Rawest Talent"), root_path, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav">

      <li><%= link_to 'DJ List', root_path %></li>
      <li><%= link_to 'About', about_path%></li>
      <li><a href="#" data-toggle="modal" data-target="#contactModal" >
      <div class="hover-mask bottom-mask mask-orange">
          Contact
      </div>
      </a></li>
      <% if !logged_in? %>
      <li><%= link_to 'Log In', '/auth/facebook' %></li>
      <li><%= link_to 'Sign Up', '/auth/facebook' %></li>
      <% else %>
      <li><%= link_to 'Logout', '/logout', method: "delete" %></li>
      <% end %>
      <% if current_user && current_user.dj_status %>
      <li> <%= link_to "Your Profile", dj_path(current_dj) %></li>
      <%elsif current_user && !current_user.dj_status%>
      <%end%>

  <% if @genre %>
  <li><form class="navbar-form">
   <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] }<< ["All Genres", 'all'], @genre.id), class: "form-control",:onchange => 'this.form.submit()') %>
  
  </li>
  <% else %>
  <li><form class="navbar-form">
    <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] } << ["All Genres", 'all'], 'all'), class: "form-control",:onchange => 'this.form.submit()') %>
  </li>
  <%end%>
  <% if @filter %>
  <li class="navbar-form">
    <%= select_tag(:filter, options_for_select([["SoundCloud Followers - Fewest", :scld_asc], ["SoundCloud Followers - Most", :scld_desc],["Most Recent on DeeJBase", :recent_desc]], @filter), class: "form-control",:onchange => 'this.form.submit()') %>
  </li></form>
  <%else%>
      <li class="navbar-form">
    <%= select_tag(:filter, options_for_select([["SoundCloud Followers - Fewest", :scld_asc], ["SoundCloud Followers - Most", :scld_desc], ["Most Recent on DeeJBase", :recent_desc]], :recent_desc), class: "form-control",:onchange => 'this.form.submit()') %>
  </li></form>

  <%end%>

    </ul>
  </div>

</div>


  <div class="container" id="wrap">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>

  
<%= yield %>
<!-- /////////////// MODAL //////////////////////////////////// -->
  <div class="message-form">
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
              </div>
              <div class="modal-body">
               <div class="form-group">
           <%= form_tag(contact_us_url, method: "post") do %>
            <%= label_tag :email %>
           <%= email_field_tag(:email, "", class: 'form-control', placeholder: "youremail@email.com", required: true) %><br>
            <%= radio_button_tag(:dj_status, true) %>
            <%= label_tag(:dj_true, "I am a DJ.") %><br>
            <%= radio_button_tag(:dj_status, false) %>
            <%= label_tag(:dj_true, "I hire DJs.") %><br>
            <%= radio_button_tag(:dj_status, false) %>
            <%= label_tag(:dj_false, "I just want to know more.") %> <br>
                </div>
              </div>

              <div class="modal-footer">
                <div class='text-center'>
                 Email sarah@deejbase.com for specific requests.
                </div>

                <%= submit_tag "Sign Up", class: 'btn btn-info' %>
              </div>
            <%end%>
            </div>
          </div>
        </div>   
      </div>
  </div>
<!--///////////  END MODAL /////////////////////// -->
  <footer>
<div class="fb-like" data-href="https://www.facebook.com/pages/DeeJBase/361049373981028" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
  </footer>
</body>
</html>
