<!DOCTYPE html>
<html>
<head>
  <% if @dj %>
  <title><%= @dj.name %>'s Profile - DeeJBase</title>
  <% else %>
  <title>DeeJBase - Find Dope Live Music</title>
  <%end%>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58043909-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="fb-root"></div>
    <script>
      // window.fbAsyncInit = function() {
      //   FB.init({
      //     appId      : '373382026154995',
      //     xfbml      : true,
      //     version    : 'v2.1'
      //   });
      //   FB.login(function(){
      //     FB.api('/me/feed', 'post', {message: 'Hello, world!'});
      //   }, {scope: 'publish_actions'});
      // };


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=373382026154995&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>



<div class="navbar navbar-default navbar-fixed-top">
  <div id="bar">
    <div class="navbar-header hidden-xs">
      <%= link_to image_tag("logo_white.png", alt: "Find NYCs Rawest Talent", title: "For New Yorkers By New Yorkers"), root_path, class: 'navbar-brand hidden-xs' %>
    </div>

    <ul class="nav navbar-nav">

      <li><%= link_to 'Venues', venues_path%></li>
      <li><%= link_to 'Parties', promoters_path%></li>
      <li><%= link_to 'DJs', djs_path%></li>
      <li><%= link_to 'Festivals', festivals_path%></li>
   

    <li class="navbar-form">
    <%= form_tag(search_path, method: 'get', role: "search") do %>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="type dj here" name="name">
          <div class='input-group-btn'>       
          <button class="btn btn-primary" type="submit"> <i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
      <% end %>
    </li>
  <% if @genre %>
  <li><form class="navbar-form col-xs-2">
   <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] }<< ["All Genres", 'all'], @genre.id), class: "form-control",:onchange => 'this.form.submit()') %>
  
  </li>
  <% else %>
  <li><form class="navbar-form col-xs-2">
    <%= select_tag(:genre_id, options_for_select(Genre.all.map {|g| [g.name, g.id] } << ["All Genres", 'all'], 'all'), class: "form-control",:onchange => 'this.form.submit()') %>
  </li>
  <%end%>
  <% if @filter %>
  <li class="navbar-form col-xs-2 hidden-xs">
    <%= select_tag(:filter, options_for_select([["SoundCloud - Fewest Followers", :scld_asc], ["SoundCloud - Most Followers", :scld_desc],["Recently Rated", :recent_desc]], @filter), class: "form-control",:onchange => 'this.form.submit()') %>
  </li></form>
  <%else%>
      <li class="navbar-form col-xs-2 hidden-xs">
    <%= select_tag(:filter, options_for_select([["SoundCloud - Fewest Followers", :scld_asc], ["SoundCloud - Most Followers", :scld_desc], ["Recently Rated", :recent_desc]], :recent_desc), class: "form-control",:onchange => 'this.form.submit()') %>
  </li></form>

  <%end%>


  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if !logged_in? %>
      <li><a href='/auth/facebook' class="btn btn-social btn-facebook"><i class="fa fa-facebook hidden-xs"></i> Sign in</a></li>
      <% end %>
    <% if current_user && current_user.dj_status %>
      <li> <%= link_to "Your Profile", dj_path(current_dj.slugify) %></li>
    <%end%>
<li>
    <% if logged_in? && !current_user.dj_status %>
     <div class="user-thumbnail">
      <%= image_tag(current_user.image_url)%>
      </div>
    <%end%>
  </li>

        <li class="dropdown">
        <a id="drop1" href="/implementation" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="glyphicon glyphicon-chevron-down"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li><%= link_to 'Venue Pages', venues_path%></li>
          <li><%= link_to 'Party Pages', promoters_path%></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/about">About</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#contactModal" >
      <div class="hover-mask bottom-mask mask-orange">DJ Signup</div></a></li>
          <% if logged_in? %>
       <li role="presentation" class="divider"></li>
      <li><%= link_to 'Logout', '/logout', method: "delete" %></li>
          <%end%>
        </ul> </li>
    </ul>
  </div>
</div>


  <div class="container-fluid venue-index" id="wrap">

  
<%= yield %>
<!-- /////////////// MODAL //////////////////////////////////// -->


  <div class="message-form">
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">If You're a DJ, We'll Need to Verify</h4>
              </div>
              <div class="modal-body">
               <div class="form-group">
           <%= form_tag(contact_us_url, method: "post") do %>
            <%= label_tag :message %>
           <%= text_area_tag(:message, "", class: 'form-control', rows: 4, placeholder: "If you're a DJ, please add links to your social media, especially SoundCloud.", required: true)%>
            <%= label_tag :email %>
           <%= email_field_tag(:email, "", class: 'form-control', placeholder: "youremail@email.com", required: true) %><br>
            <%= radio_button_tag(:dj_status, true) %>
            <%= label_tag(:dj_true, "I am a DJ.") %><br>
            <%= radio_button_tag(:dj_status, false) %>
            <%= label_tag(:dj_true, "I hire DJs.") %><br>
            <%= radio_button_tag(:dj_status, false) %>
            <%= label_tag(:dj_false, "I just want to know more.") %> <br>
                </div>
              </div>

              <div class="modal-footer">
                <div class='text-center'>
                 Email sarah@deejbase.com for specific requests.
                </div>

                <%= submit_tag "Sign Up", class: 'btn btn-info' %>
              </div>
            <%end%>
            </div>
          </div>
        </div>   
      </div>
  </div>
<!--///////////  END MODAL /////////////////////// -->
  <footer class="row">

<div class="fb-like" data-href="https://www.facebook.com/pages/DeeJBase/361049373981028" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
<div class="controlls pull-right">
  <a href="#" data-toggle="modal" data-target="#contactModal" >
      <span class="hover-mask bottom-mask mask-orange">
       Contact Us | 
      </span>
      </a>
      <%=link_to "About", djs_path %> | 
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.deejbase.com/venues" data-text="Go Out. Rate the DJ. Repeat.">Tweet About Us</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>
  </footer>
  <script>


$(".update-form").hide();

$(".rate-dj").hide();

$('.edit-dj').click(function(){
  $(".update-form").toggle();
  $("#dj-profile").toggle();
  $(this).toggle();
  $('.tracks').hide();
   $('.review').toggle();
   $('.comments-title').toggle();
})

$('.cancel-edit').click(function(){
  $(".update-form").toggle();
  $("#dj-profile").toggle();
  $('.edit-dj').toggle();
  $('.tracks').show();
  $('.review').toggle();
  $('.comments-title').toggle();
})

$(".other-tracks").hide();
$('.more-tracks').click(function(){
  $(".other-tracks").slideDown();
  $(this).toggle();
  $('.review').toggle();
  $('.comments-title').toggle();
})

$('.hide-tracks').click(function(){
  $(".other-tracks").toggle();
  $('.more-tracks').toggle();
    $('.review').toggle();
  $('.comments-title').toggle();
})
// $('.cancel-message').hide();
// $('.cancel-message').click(function(){
//   $(".message-form").toggle();
//     $(this).toggle();
//     $('.hire-dj').toggle();
// })

$('.contact-form').hide();
$('.send-contact').click(function(){
  $('.contact-form').toggle();
  $('.close-contact').toggle();
  $(this).toggle();
})


$('.close-contact').hide();
$('.close-contact').click(function(){
  $('.contact-form').toggle();
  $('.send-contact').toggle();
  $(this).toggle();
})

$('.rate-button').click(function(){
  $(".rate-dj").toggle();
  $('.other-info').toggle();
  $(this).toggle();
})

$('.done-rating').click(function(){
  $(".other-info").toggle();
  $('.rate-dj').toggle();
  $('.rate-button').toggle();
})

$('.youtube').hide();


  </script>
</body>
</html>
