<!DOCTYPE html>
<html>
<head>
  <title>DJbase - Find NY's Rawest DJs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" id="bar">
    <div class="navbar-header">
      <%= link_to image_tag("logo_white.png"), root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <% if !logged_in? %>
      <li><%= link_to 'Log in with Facebook', '/auth/facebook' %></li>
      <% else %>
      <li><%= link_to 'Logout', '/logout', method: "delete" %></li>
      <% end %>
      <li> <%= link_to 'Venues', venues_path %></li>
      <% if current_user && current_user.dj_status %>
      <li> <%= link_to "Logged in as " + current_user.name, dj_path(current_user) %></li>
      <%elsif current_user && !current_user.dj_status%>
      <li> <%= link_to "Logged in as " + current_user.name, '#' %></li>
      <%end%>
      <li><%= link_to 'About', about_path%></li>
    </ul>

    <%= form_tag(search_path, method: 'get', class: "navbar-form navbar-right", role: "search") do %>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Chainsmokers" name="name">       
          <button class="btn btn-default" type="submit">Search Djs <i class="glyphicon glyphicon-search"></i></button>
      </div>
      <% end %> 
  </div>
</div>


<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  
<%= yield %>

  <div class='footer controls text-center col-md-12'>
    <%= link_to "Login", '/auth/facebook' %> |
    <%= link_to "Sign Up", '/auth/facebook' %> |
    <%= link_to 'Contact', '#', class: 'send-contact'%> |
    <%= link_to 'Back', root_path %> 
  </div>
</div>
</body>
</html>
